*
{
    margin:0;
    padding: 0;
}

body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container{
    width:50%;
    background-color:whitesmoke;
    padding: 5vw;
    margin-top: 2rem;
    border-radius: 5px;
}

.title{
    font-weight: bolder;
    font-size: 2.25vw;
    text-align: center;
}

.enter-amount
{
    font-size: 1.5vw;
}


#from , #to
{
   font-size: 1.25vw;
}


.currency
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.select
{
    width:12vw;
    display: flex;
    gap: 0.25vw;
    border:1px solid black;
    border-radius: 5px;
    padding : 0 0.25rem;
}

.select img{
    width:3.5vw;
} 

.form-select
{
    width: 8vw;
}

.select select{
    font-size: 1.2vw;
    background-color: transparent;
    border:1px solid transparent;
}


.currency i{
    font-size: 2vw;
    margin-top:2.5rem;
}

.msg{
    font-size: 1.25vw;
    text-align: center;
    margin:2.5rem 0 1.5rem;
}

.button
{
   text-align: center;
}




@media screen and (max-width : 443px)
{
    .title 
   {
     font-size: 3.75vw;
   }
   .enter-amount
   {
     font-size: 3.5vw;
   }
   #from , #to
   {
    margin-left: 1vw;
     font-size: 3.5vw;
   }
    .select
   {
    position: relative;
    right : 0.5vw;
    width:18vw;
    flex-direction: column;
    border:none;
    margin-left: 1vw;
   }

   .select img
   {
    width:10vw;
   } 

   .select select
   {
    width : 0.1vw;
    font-size: 3vw;
    position: relative;
    right:3vw;
   }
   

   
    .currency i
    {
        position: relative;
        bottom: 1rem;
        right: 2vw;
        font-size: 3.5vw;
    }

    .msg
    {
       font-size: 3.5vw;
    }  

    .button button
    {
        width: 8rem;
    }
    .button button p
    {
        font-size:  0.75rem;
    }
}

@media screen and (min-width : 444px) and (max-width : 575px)
{
    .title 
   {
     font-size: 1rem;
   }
   .enter-amount
   {
     font-size: 0.75rem;
   }
   #from , #to
   {
     font-size: 0.75rem;
   }

   .select
   {
    width:21vw;
    flex-direction: column;
    border:none
   }

   .select img
   {
    width:10vw;
   } 

   .select select
   {
    width : 5vw;
    font-size: 0.75rem;
   }

   
    .currency i
    {
        position: relative;
        bottom: 1rem;
        right: 5vw;
        font-size: 5vw;
    }

    .msg
    {
       font-size: 3.75vw;
    }  

    .button button
    {
        width: 27vw;
    }
    .button button p
    {
        padding-top: 0.5rem;
        font-size:  2.5vw;
    }
}

@media screen and (min-width : 576px) and (max-width : 767px)
{
    
    .title 
   {
     font-size: 1.5rem;
   }
   .enter-amount
   {
    font-size: 3vw;
   }
   #from , #to
   {
     font-size: 1rem;
   }
   .select
   {
    width:21vw;
    flex-direction: column;
    border:none
   }

   .select img
   {
    width:10vw;
   } 

   .select select
   {
    width : 5vw;
    font-size: 0.75rem;
   }
    .currency i
    {
        position: relative;
        bottom: 1rem;
        right: 5vw;
        font-size: 5vw;
    }

    .msg
    {
       font-size: 3.75vw;
    }  

    .button button
    {
        width: 27vw;
    }
    .button button p
    {
        padding-top: 0.5rem;
        font-size:  2.5vw;
    }
}


@media screen and  (min-width : 768px) and (max-width : 991px)
{
    .title
    {
        font-size: 3.5vw;
    }

    .enter-amount
    {
        font-size: 3vw;
    }
    #from , #to
    {
      font-size: 2vw;
    }
    .select
    {
     width:15vw;
    }
 
    .select img
    {
     width:5vw;
    } 
 
    .select select
    {
     width : 10vw;
     font-size: 1.5vw;
    }
    .currency i
    {
       font-size: 2vw;
    }
    .msg
    {
       font-size: 2.5vw;
    }  

    .button button
    {
        width: 20vw;
    }
    .button button p
    {
        font-size:  2vw;
    }
 
}


@media screen and  (min-width : 992px) and (max-width : 1199px)
{
    .title
    {
        font-size: 3.5vw;
    }

    .enter-amount
    {
        font-size: 2.5vw;
    }
    #from , #to
    {
      font-size: 1.75vw;
    }
    .select
    {
     width:15vw;
    }
 
    .select img
    {
     width:5vw;
    } 
 
    .select select
    {
     width : 10vw;
     font-size: 1.5vw;
    }
    .currency i
    {
       font-size: 2vw;
    }
    .msg
    {
       font-size: 2vw;
    }  

    .button button
    {
        width: 15vw;
    }
    .button button p
    {
        font-size:  1.5vw;
    }
  
}

